.form {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.inputText {
  border: none;
  padding: 2.5rem;
  margin: 0;
  height: 100%;
  font-size: 1.8rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  width: 100%;
}

.inputText__invalid {
  border: 0.3rem solid rgb(255, 43, 43);
  background-color: rgb(253, 241, 241);
}

.inputText:focus {
  outline: none;
}

.button {
  background: url('/icon-arrow.svg') center no-repeat;
  cursor: pointer;
  background-color: black;
  color: white;
  height: 100%;
  border: none;
  width: 6rem;
  font-size: 1.5rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: rgb(51, 51, 51);
}

.button__loading,
.button__loading:focus,
.button__loading:active,
.button__loading:disabled {
  background-color: rgb(255, 255, 255);
  border: none;
}

.buttonChild {
  background: url('/icon-arrow.svg') center no-repeat;
  width: 100%;
  height: 100%;
}