@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --border-radius: 1.5rem;
  --color-1: hsl(0, 0%, 17%);
  --color-2: hsl(0, 0%, 59%);
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
